*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* The Grand-Total Price Box Update */

.price_upadate_box{
    width: 50%;
}
.total_price_border{
    border-bottom: 4px solid rgb(62, 47, 77);
}
input[type=text]{
    outline: none;
    display: block;
    width: 100%;
    height: 35px;
    margin-right: 10px;
    border: 1px solid #ddd;
    padding-left: 5px;
}


/* Using @media screen for Responsiveness */

@media only screen and (max-width :780px) {
    .display{
        display: flex;
        flex-wrap: wrap;
    }
    .col{
        flex-basis: 100%;
        margin-bottom: 10px;
    }
    .price_upadate_box{
        width: 100%;
    }
}